{% extends 'index.html' %}
{% load static %}
{% block title %}
Портфолио
{% endblock %}
{% block content %}
<section class="our-services-title">
    <div class="title title__potfolio mb-5">
                <span class="title-text">
                    Портфолио
                </span>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            {% for item in portfolio_items %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card ">
                    <img src="{{ item.image.url }}" alt="">
                    <div class="card-text">
                        <p>{{item.title|upper}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if is_paginated %}

<div class="pagination justify-content-center mt-5">
    <nav aria-label="...">
        <ul class="pagination pagination-lg">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_url }}"
                   style="{% if prev_url %} color: #FFB700; {% endif %}">Previous</a>
            </li>

            {% for n in portfolio_items.paginator.page_range %}
                {% if portfolio_items.number == n %}
                    <li class="page-item active">
                     <a class="page-link" href="?page={{ n }}"
                        style="border-color: #65256F; background-color: #65256F; font-color: #FFB700;">{{ n }}
                        <span class="sr-only">(current)</span>
                     </a>
                {% elif n > portfolio_items.number|add:-3 and n < portfolio_items.number|add:3 %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ n }}" style="color: #FFB700">{{ n }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_url }}" style="{% if next_url %} color: #FFB700; {% endif %}">Next
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endif%}

<script src="{% static 'js/burger.js' %}"></script>
{% endblock %}
