{% extends 'service_list.html' %}
{% load static %}
{% block title %}
    Наши услуги
{% endblock %}

{% block service_panel %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            {% for item in panel_items %}
            <div class="col-lg-4  ">
                <div class="servicess-image">
                    <img src="{{ item.image.url }}">

                </div>

            </div>
            <div class="col-lg-8 ">
                <h1 class="text-services">{{item.title}}</h1>
                <p class="text-secondary">{{item.text}}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


 {% endblock %}





